node_modules/
/client/node_modules/
/server/node_modules/
dist/
client/dist/
.env
# allow example env files to be committed
!.env.example
!server/.env.example
npm-debug.log*
package-lock.json
.DS_Store